{% block sidebar %}

<!-- <style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
            top:
        }

</style> -->

<!-- Sidebar Widgets Column -->
<!-- <div class="col-md-4 float-right  ">
<div class="card my-3 bg-dark text-white">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> This the official site for all  the active backchcodi  in NIT SIKKIM ..!</p>
        <p class="card-text-bold text-center"> Provided by BACKCHOD GROUP!</p>
        <a href="#"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div> -->
<style>
    .custom-shadow {
        box-shadow: -4px -6px 10px  rgba(229, 240, 239, 0.3);
    }
</style>
<div class="w-full ">
    <div class="bg-lime-400 text-white-800 rounded-lg custom-shadow shadow-lg overflow-hidden">
        <h5 class="bg-green-900 text-lg text-white-900 font-semibold py-3 px-4">About Us</h5>
        <div class="p-4">
            <p class="mb-4 text-slate-900">This is the official site for all the active backchcodi in NIT SIKKIM ..!</p>
            <p class="font-bold text-center text-slate-900 mb-4">Provided by BACKCHOD GROUP!</p>
            <a href="#" class="block w-full bg-green-600 hover:bg-green-900 text-white font-semibold py-2 px-4 rounded text-center transition duration-300 ease-in-out">
                Know more!
            </a>
        </div>
    </div>
</div>

{% endblock sidebar %}